<%=render 'shared/header'%>

<div class="header-height content-color">
<div>
  <div>
    <div>
      <ul>
      <li>目標進捗</li>
      <li>1日当たりの目標摂取カロリー</li>
      <li>（目標摂取カロリー表示）</li>
      </ul>
      <ul>
        <li>身長</li>
        <li>体重</li>
        <li>基礎代謝量</li>
        <li>生活強度指数</li>
      </ul>
    </div>
    <div>
    <p>（目標期間に（摂取カロリーの平均値から割り出す）kgになります）</p>
      <div>
        <div>
        </div>
        <div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/footer'%>
</div>