<%=render "shared/header"%>

<div class="tesma-about-content">
  <div class="about-lists">
    <ul class="about-lists-box">
      <li>コンセプト</li>
      <li>体脂肪を落とす計算式</li>
    </ul>
  </div>
  <div class="selected-list">
  </div>
</div>

<%= render "shared/footer"%>