#footer-content {
  background-color: #444444;
  padding: 40px 0;
}

.footer-logo {
  text-align: center;
}

.footer-logo a{
  font-size: 0;
}

@media (max-width: 375px){
  #footer-content {
    padding: 10px 0;
  }
}