* {
  box-sizing: border-box;
}

/* 共通　ヘッダーの高さ分次の要素の開始位置を下げる*/
.header-height {
  position: absolute;
  top: 170px;
  width: 100%;
}

.content-color {
  background-color: rgba(255, 219, 201,0.3);
}

.header-short {
  background-color: #ffdbc9;
}

/*-------------------------------*/


#header-content {
  background-color: #ffdbc9;
  padding-bottom: 10px;
  position: fixed;
  z-index: 9999;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.header-box {
  display: flex;
  justify-content: space-between;
}
.header-logo {
  padding-top: 20px;
  padding-bottom: 5px;
  text-align: center;
}
.tesma_logo_icon {
  height: 45px;
  width:  225px;
}

.session-user {
  display: flex;
}

.session-user li{
  margin-right: 20px;
}

.session-user a{
  line-height: 80px;
  font-size: 18px;
  white-space: nowrap;
  text-decoration: none;
  color: black;
}

.header-row {
  display: flex;
  justify-content: center;
}

.header-row a{
  text-decoration: none;
  color: black;
}

.select-list {
  display: flex;
}

.select-list li{
  margin-right: 5px;
  line-height: 80px;
  width: 145px;
  padding: 0 10px;
  background-color: #ff9966;
  border-radius: 5px;
  text-align: center;
}

.select-list li:hover{
  background-color: rgba(255, 153, 102, 0.6);
}

@media (max-width: 375px){
  #header-content {
    padding: 5px 2px 0 2px;
  }
  .header-box {
    margin-bottom: 3px;
  }
  .header-logo {
    padding: 0;
    
    }
  .tesma_logo_icon {
    width: 100px;
    height: 20px;
  }

  .session-user a{
    line-height: 16px;
    font-size: 12px;
  }
  
  .select-list li{
    width: 18vw;
    margin: 0 1px;
    padding: 15px 0;
    line-height: 10px;
    font-size: 10px;
  }
  #h_about {
    width: 23vw;
  }
}