<div id="logic-content">
    <div>
    <h2 class="last-logic-str">体脂肪を落とす計算式</h2>
    <div class="main-logic-str">
      (<div class="basal-inline">
      <p class="basal-inline" id="basal">
      基礎代謝量
      </p>
      <p id="basal-none">
      基礎代謝量とは、何もしなくても体温の維持や呼吸で必要最低限消費されるカロリーのこと。
      </p>
      </div> ✖️ 
      <div class="basal-inline">
      <p class="basal-inline" id="life-num">
      生活強度指数
      </p>
      <p id="life-num-none">
      生活強度指数とは、1日の生活のなかでどのくらいの負荷がかかっているかの数値です。基礎代謝量にかけることで消費カロリーが出せます。この数値は詳細を目標設定の画面で確認できます。
      </p>
      </div>） ー　食事による摂取カロリー　＝　（ここの数字が１以上になれば体脂肪が減り、痩せていきます）
    </div>
    </div>
     <%=image_tag 'keisansiki_image.png', class: "main-logic-image"%>
  </div>

 