<div class="hidden-field wrap-hidden1">
  <li id="hidden1">ooo</li>
    <input  class= "menu-name">g
   </div>
<div class="hidden-field wrap-hidden2">
 <li id="hidden2">ooo</li>
   <input class= "menu-name">g
</div>
<div class="hidden-field wrap-hidden3">
   <li id="hidden3">ooo</li>
   <input class= "menu-name">g
</div>