<div id="tesma-concept" data-display="<%=@data%>">
    <h2>TESMAとは</h2>
    <p class="tesma-concept-p">The essential self management(本質的な自身の管理)の略称です。
    </p>
    <p class="tesma-concept-p">
      現代では、様々なダイエット法や食事制限での減量などの情報で溢れていますが、
    </p>
    <p class="tesma-concept-p">
    例えば食事制限を行うようなダイエットでは、
    </p>
    <ul class="personnel-lists">
    <li>「リバウンドしやすい」</li>
    <li>「長続きしない」</li>
    <li>「体重は減ったけど十分な栄養を摂取できていない」</li>
    </ul>
    <p class="tesma-concept-p">
    などの声が非常に多いように感じます。
    </p>
     <p class="tesma-concept-p">
     理想は、体重計に乗った時の数字が瞬間的に減ったかどうかではなく、
     <br>
     <span>長期的に継続することができ、理想の体型を維持することがダイエットの本質ではないでしょうか。</span>
     <p class="tesma-concept-p">
      そこで本アプリでは、設定された目標体重から1日の摂取カロリーを算出し、基礎代謝の維持や向上をしてもらうことで、計画的に理想に近づくことができます。
      </p>
      <p class="tesma-concept-p">
      過度な食事制限はせず、リバウンドのしにくい理想の体を手に入れましょう。
      </p>
</div>