
.max-height {
  height: 100%;
}

#calory-content {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  height: 100%;
  overflow: scroll;
}

.calory-sum {
  font-size: 30px;
  text-shadow: 0 0 2px rgba(0,0,0,0.2);
}

.calory-sum-box {
  display: flex;
  padding-top: 30px;
}

.sum-left {
  margin-right: 30px;
  width: 300px;
}

.calory-button {
  display: flex;
  justify-content: space-around;
}

#math-all{
  text-align: center;
}

#math-data {
  width: 60px;
  margin-top: 10px;
  cursor: pointer;
}

#reset-button {
  width: 80px;
  margin-top: 10px;
  cursor: pointer;
}

.select-food-name {
  margin-top: 20px;
}

.default-none {
  display: none;
}

.value-delete {
  display: flex;
  justify-content: space-between;
}

.delete-this {
  cursor: pointer;
  color: #666666;
  background-color: rgba(239, 239, 239,1);
  border-radius: 4px;
  padding: 1px 3px;
}

.delete-this:hover {
  background-color: rgba(74, 74, 74,0.4);
}

.calory-all {
  margin-right: 30px;
}

#select-food-form {
  display: none;
}

.food-title {
  font-size: 25px;
  font-weight: bold;
  margin: 20px;
}

#meat-content {
  display: none;
}

#pig-content {
  display: none;
}

#bird-content {
  display: none;
}

#fish-content {
  display: none;
}

#shellfish-content {
  display: none;
}

#seafood-content {
  display: none;
}

#paste-content {
  display: none;
}

#fish-egg-content {
  display: none;
}

#seaweed-content {
  display: none;
}

#rice-content {
  display: none;
}

#vegetable-content {
  display: none;
}

#noodle-content {
  display: none;
}

#bean-content {
  display: none;
}

#nut-content {
  display: none;
}

#potato-content {
  display: none;
}

#fruit-content {
  display: none;
}

#mushroom-content {
  display: none;
}

#milk-content {
  display: none;
}

#oil-content{
  display: none;
}

#button-none {
  display: none;
}

.food-weight {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.hidden-field {
  display: none;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 15px;
  background-color: #FAFAD2;
  border-radius: 8px;
}

.hidden-field li{
  margin-right: 5px;
  width: 150px;
}

@media (min-width: 876px){
  .wrap-hidden1 {
    display: flex;
    visibility: hidden;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 15px;
    background-color: #FAFAD2;
    border-radius: 8px;
  }
}

@media (min-width: 1144px){
  .wrap-hidden1 {
    display: flex;
    visibility: hidden;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 15px;
    background-color: #FAFAD2;
    border-radius: 8px;
  }
  .wrap-hidden2 {
    display: flex;
    visibility: hidden;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 15px;
    background-color: #FAFAD2;
    border-radius: 8px;
  }
  .wrap-hidden3 {
    display: flex;
    visibility: hidden;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 15px;
    background-color: #FAFAD2;
    border-radius: 8px;
  }
}

#menu-data {
  padding: 10px;
  margin-bottom: 10px;
  display: none;
}

#meat-from-name {
  display: none;
}

.small-p {
  font-size: 14px;
  color: rgba(165, 42, 42,1);
}

.from-meat {
  display: flex;
  margin-bottom: 10px;
  margin-top: 10px;
}

.from-meat li{
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-right: 10px;
  background-color: rgba(250,128,114,0.4);
  cursor: pointer;
  width: 100px;
  text-align: center;
}


.food-flex {
  display: flex;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 15px;
  background-color: #FAFAD2;
  border-radius: 8px;
}

.food-flex li{
  margin-right: 5px;
  width: 150px;
}

.ok-button {
  display: flex;
  justify-content: center;
}

#meat-submit {
  width: 40px;
  cursor: pointer;
}

.menu-name {
  margin-right: 3px;
  width: 60px;
}
.calory-box {
  margin-bottom: 10px;
}



.select-food p{
  margin-bottom: 20px;
}

.material {
  display: flex;
  flex-wrap: wrap;
}

.material li{
  margin-top: 5px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 200px;
  height: 100px;
  cursor: pointer;
  background-color: orange;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.material li:hover {
  background-color: #FFC7AF;
}