.tesma-about {
    position: absolute;
    top: 170px;
    width: 100%;
}

.tesma-about-content {
  display: flex;
  min-height: calc(100vh - 301px);
}

.about-lists {
  text-align: center;
  border-right: 1px solid olive;
  width: 270px;
}

.lists-fixed {
  width: 270px;
  padding-right: 10px;
  padding-left: 10px;
}


.about-lists h2{
  font-size: 25px;
  font-weight: bold;
  margin-top: 10px;
  text-shadow: 0 0 2px rgba(0,0,0,0.3);
}

.about-lists-box li{
  margin-top: 20px;
  cursor: pointer;
}

.selected-list {
  padding: 20px;
  width: calc(100vw - 270px);
}

#tesma-concept h2{
  font-size: 20px;
  font-weight: bold;
}

#tesma-concept span{
  font-weight: bold;
}


/*-------コンセプト------------------*/
#tesma-concept {
  text-align: center;
}

.tesma-concept-p{
  font-size: 20px;
}

.tesma-concept-p span{
  font-size: 25px;
}

.personnel-lists li{
  font-weight: bold;
  font-size: 25px;
}

/*------体重を落とす計算式--------------*/
#logic-content {
  display: none;
  text-align: center;
}

.basal-inline {
  display: inline;
  position: relative;
  color: #4192FF;
  text-decoration: underline #4192FF;
  cursor: pointer;
}

.basal-inline:hover {
  color: rgba(65,146,255,0.6);
  text-decoration: underline rgba(65,146,255,0.2);
}

#basal-none {
  display: none;
  position: absolute;
  top: 43px;
  left: 1px;
  z-index: 9999;
  font-weight: 500;
  width: 300px;
  background-color: #ffdbc9;
  padding: 5px;
  color: black;
  font-weight: 600;
}

#basal-none:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: -15px;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #ffdbc9;
  border-left: 15px solid transparent;
}

#life-num-none {
  display: none;
  position: absolute;
  top: 43px;
  left: 1px;
  z-index: 9999;
  font-weight: 500;
  width: 500px;
  background-color: #ffdbc9;
  padding: 5px;
  color: black;
  font-weight: 600;
}

#life-num-none:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: -15px;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #ffdbc9;
  border-left: 15px solid transparent;
}

/*---------------------------基礎代謝をあげるとどうなるか*/


#basal-logo-box {
  text-align: center;
  display: none;
}

.basal-logo-image {
  height: 500px;
  object-fit: contain;
}

@media (max-width: 414px){
  .tesma-about{
    top: 74px;
  }

  .tesma-about-content {
    display: block;
  }
  
  .about-lists {
    border: none;
    width: 100%;
  }

  .lists-fixed {
    width: auto;
  }

  .about-lists-box {
    display: flex;
    justify-content: space-between;
  }

  .about-lists-box li{
    margin-top: 10px;
    font-size: 11px;
  }
}
