// Place all the styles related to the targets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


/*--------------------------------目標設定-------------------------------*/

.target-life-content {
  position: absolute;
  top: 170px;
  width: 100%;
  background-color: rgba(255, 219, 201,0.3);
}

.target-box {
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px 50px 0 50px;
  min-height: calc(100vh - 301px);
}

.waring-target {
  text-align: center;
}

#target-num {
  font-size: 30px;
  font-weight: bold;
}

.target-form {
  text-align: center;
  margin-top: 30px;
}

.errors-color-red {
  color: red;
}

.target-form p{
  font-size: 20px;
}

.field-center {
  text-align: center;
}

.target-span {
  margin-top: 30px;
  margin-bottom: 30px;
}

.target-span ul{
  margin-right: 10px;
}

#target-day {
  display: flex;
  justify-content: center;
}

.intensity-block {
  margin-bottom: 30px;
}

#target-intensity-data {
  display: none;
}

#target-intake-data {
  display: none;
}

.target-title-bold {
  font-weight: bold;
}

#red-font {
  font-size: 16px;
}

.intensity-box {
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  margin-left: 10px;
  width: 200px;
}

.intensity-box p{
  border-bottom: 1px solid black;
}

.font-mix {
  font-weight: bold;
}

.life-num {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.ex-life-content {
  line-height: 100px;
}

.ex-content-color {
  background-color: #33CCFF;
}

.ex-life-move {
  background-color: #33CC99;
}

.ex-time {
  background-color: #FFFF99;
}

.ex-num {
  background-color: #FF6666;
}

.select-intensity {
  display: flex;
  justify-content: space-between;
}

.select-life-num {
  width: 23%;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  border-right: 1px solid black;
}

.button-p {
  border-left: 1px solid black;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-p li{
  list-style: none;
  border: 1px solid #777777;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-color: white;
}

.button-p li:hover {
  background-color: #666666;
}

.select-life-num p{
  font-size: 18px;
  border-left: 1px solid black;
}

.every-life {
  height: 250px;

}

.ex-mouving {
  display: flex;
  border-top: 1px solid black;
}

.ex-mouving li{
  width: 20%;
  border-left: 1px solid black;
}

.right-border {
  border-right: none;
}

.intensity-num {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

#save-true {
  color: #00CC00;
  display: none;
}

#save-not {
  color: red;
  display: none;
}

.self-user-content {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid black;
}

.self-user-content li{
  font-size: 20px;
}

#intake-num {
  height: 30px;
}

.target-submit {
  margin-bottom: 30px;
  cursor: pointer;
}

@media (max-width: 414px){
  .target-title-box::after {
    content: "基礎代謝量より食事による摂取カロリーが下回る目標の場合は設定できません。";
    display: block;
    text-align: left;
  }

  .target-form {
    margin-top: 10px;
  }

  #intensity-about {
    text-align: left;
  }

  .target-span {
    margin: 10px 0;
  }

  .target-life-content {
    top: 76px;
  }

  .target-box {
    padding: 10px 20px 0 20px;
  }

  #target-num {
    font-size: 20px;
  }

  .waring-target {
    display: none;
  }

  .media-intensity-waring {
    margin-top: 10px;
  }

  .media-intensity-waring::before {
    content: "＊「日常生活の内容」「生活動作」「生活動作時間」";
    font-weight: bold;
  }

  .media-intensity-waring::after {
    content: "を確認し、自身に該当するものを選択してください。";
    font-size: 14px;
  }

  #intensity-waring {
    display: none;
  }

  .select-intensity {
    flex-wrap: wrap;
  }

  .select-life-num {
    width: 49%;
    margin-bottom: 10px;
  }

  .select-life-num p{
    font-size: 16px;
  }

  .every-life {
    text-align: left;
  }

  #case-by-save-media {
    font-size: 16px;
    text-align: left;
  }

  .case-by-save {
    display: none;
  }

  .not-save-span {
    display: none;
  }
  
  .media-save-span::after {
    content: "摂取カロリーが下回っています。目標期間を設定し直してください。";
    color: red;
    font-size: 14px;
  }
}

/*-------------------------------------index--------------------------------------*/


#progress-height {
  height: auto;
}

.target_index_height {
  min-height: calc(100vh - 301px);
  padding: 0 50px;
}

.target-index-content {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 50px;
}

#index-title {
  font-size: 30px;
  font-weight: bold;
}

.target-view {
  font-weight: bold;
  margin-top: 10px;
}

.user-index {
  display: flex;
  padding-top: 50px;
}

.user-index li{
  margin-right: 30px;
}

.progress-chart-container {
  margin-top: 50px;
}

.progress-title {
  margin-left: 60px;
  font-size: 20px;
  color: #333333;
}

.border-chart {
  display: flex;
}

.border-ul {
  display: flex;
  align-items: center;
  margin-left: 60px;
}

.border-color-red {
  width: 60px;
  border: 2px solid red;
  background-color: red;
  margin-right: 10px;
}

.border-color-blue {
  width: 60px;
  border: 2px solid blue;
  background-color: blue;
  margin-right: 10px;
}

#chart-box {
  overflow-x: scroll;
  max-width: 1400px;
  padding: 0 40px;
  margin: 20px 0;
}

#data-option {
  margin-left: 40px;
}

#data-div {
  display: none;
}

@media (max-width: 414px) {

  .target_index_height {
    padding: 0 10px;
  }

  .target-index-content {
    padding-top: 10px;
  }

  #index-title {
    font-size: 20px;
  }

  .target-view {
    font-size: 14px;
  }

  .user-index {
    padding-top: 10px;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  .user-index li{
    margin-right: 0;
  }

  .user-index div{
    width: 49%;
  }

  .progress-chart-container {
    margin-top: 30px;
  }

  .progress-title {
    margin-left: 10px;
    font-size: 18px;
  }

  .border-chart {
    margin-top: 10px;
  }

  .border-ul {
    margin-left: 2px;
  }

  .border-color-blue{
    width: 30px;
  }

  .border-color-red {
    width: 30px;
  }

  .border-name {
    font-size: 10px;
    width: 80px;
  }

  #data-option {
    margin-left: 10px;
    font-size: 14px;
  }

  #chart-box {
    padding: 0 10px; 
  }
}
