// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.user-sign-up {
  background-color: #ffdbc9;
  height: 100%;
}

.new-user {
  width: 500px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255,255,255,0.7);
}

.field-box {
  width: 350px;
}

.field {
  margin: 30px 0;
}

.field h1{
  font-size: 30px;
}

.field input {
  width: 100%;
  height: 40px;
}

.date-field {
  display: flex;
  justify-content: center;
}

.field_with_errors {
  display: flex;
}

.register-btn {
  text-align: center;
}

.register-red-btn {
  cursor: pointer;
}

.user-sign-in {
  background-color: #ffdbc9;
  height: calc(100% - 152px);
}